.imgs{
    height: 20vw;
    width: 18vw;
}

.p{
    font-family: sans-serif;
}

.h1{
    font-family: sans-serif;
}

.hby_main{
    width: 100vw;
    display: flex; 
    margin-top: 30vw;
}

.all_para{
   position: absolute;
   right: 6vw; 
}

.img_container{
    position: absolute;
	left: 10vw;
}

.paragraphs{
    margin-top: 2vw;
}

@media only screen and (max-width:500px){
	.hby_main{
		height: 50vw;
		flex-direction: column;
	}
	
	.p{
		font-size: 4.5vw;
		text-align: left;
		display: inline;
	}
	
	.img_container{
		left: 23vw;
		top: 260vw;
		
	}
	
	.imgs{
		width: 50vw;
		height: 30vw;
	}
	
	.h1{
		text-align: center;
	}
	
	.all_para{
		position: absolute;
		left: 0vw;
		top: 300vw;
		width: 92vw;
		text-align: center;
	}
}